TELEGRAM_BOT_TOKEN=dummy-token
SQS_QUEUE_URL=http://localhost:4566/000000000000/visa-reschedule-queue
DYNAMODB_TABLE=visa-rescheduler-users
AES_SECRET_KEY=change-me-123
AWS_ENDPOINT_URL=http://localhost:4566
AWS_REGION=us-east-1
HTTP_PORT=8080
